.lista-suspensa {
    margin: 24px 0;
}

.lista-suspensa label {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: bold;
}
.lista-suspensa select {
    background: #FFFFFF;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    border-radius: 0px;
    width: 70%;
    border: none;
    font-size: 16px;
    padding: 14px;
    box-sizing: border-box;
}

.custom-select {
    position: relative;
    width: 70%; /* Ajuste conforme necessário */
  }

  .custom-select select {
    width: 100%;
    padding: 15px;
    appearance: none; /* Remove estilo padrão */
    -webkit-appearance: none; /* Para navegadores baseados em WebKit */
    -moz-appearance: none; /* Para Firefox */
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 0px;
    font-size: 14px;
    color: #333;
    padding-right: 40px; /* Espaço para a seta */
  }

  .custom-select::after {
    content: "▼"; /* Alternativamente, use uma imagem */
    font-size: 12px;
    color: #45456b;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none; /* Permite clicar no select */
  }